@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/AccountStyles/account.css" asp-append-version="true" />
<div class="content-container">
    <div class="background-img"></div>


    <form class="login-form" method="post">
        <h1>@ViewData["Title"]</h1>

        <section class="input-container">
            <label asp-for="@Model.Username">Username</label>
            <input type="text" autocomplete="username" aria-required="true" placeholder="username" asp-for="@Model.Username" />
            <span asp-validation-for="@Model.Username" class="text-danger"></span>
        </section>

        <section class="input-container">
            <label asp-for="@Model.Email">Email</label>
            <input type="text" autocomplete="email" aria-required="true" placeholder="email" asp-for="@Model.Email" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </section>


        <div class="password-container">
            <div id="passwordRequirements" style="display:none;">
                <ul>
                    <li id="requireDigit">Must contain at least one digit</li>
                    <li id="requireNonAlphanumeric">Must contain special character</li>
                    <li id="requireUppercase">Must contain uppercase letter</li>
                </ul>
            </div>

            <section class="input-container">
                <label asp-for="@Model.Password">Password</label>
                <input id="password" type="password" autocomplete="password" aria-required="true" placeholder="Enter password" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </section>
        </div>
        

        <section class="input-container">
            <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
            <input type="password" placeholder="Confirm password..." aria-required="true" asp-for="@Model.ConfirmPassword" />
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </section>

        <button class="submit" type="submit">Register</button>
        <div asp-validation-summary="ModelOnly" class="error-container"></div>
    </form>
</div>

<script src="~/js/Modal.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('#password').keyup(function () {
                var password = $(this).val();

                var hasDigit = /\d/.test(password);
                var hasNonAlphanumeric = /[^a-zA-Z0-9]/.test(password);
                var hasUppercase = /[A-Z]/.test(password);

                if (password.length > 0) {
                    $('#passwordRequirements').show();
                }
                else {
                    $('#passwordRequirements').hide();
                }

                $('#requireDigit').toggle(!hasDigit);
                $('#requireNonAlphanumeric').toggle(!hasNonAlphanumeric);
                $('#requireUppercase').toggle(!hasUppercase);
            });
        });
    </script>
}