@model OrderInfoViewModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<link rel="stylesheet" href="~/AnimeStockWebProject.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Reset.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/HomeStyles/Home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/OrderStyles/OrderInfoStyles.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="order-information">
    <div class="user-info">
        <p class="username">Ordered by: @Model.FirstName</p>

        <p class="email">Your Email Adress: @Model.Email</p>

        @if (Model.PrintType == "Digital")
        {
            <div class="download-container">
                <p>Download you e-book here</p>
                <input type="hidden" id="orderId" value="@Model.Id" />
                <input type="hidden" id="fileName" value="@Model.FilePath" />
                <button type="button" class="download-button">Download book</button>
            </div>
            
        }
    </div>

    <div class="order-card">
        <div class="img-container">
            <img src="@Model.PicturePath" />

            <h1 class="title">@Model.Title</h1>

            <p class="price">@Model.Price$</p>
        </div>

    </div>
</section>

<script>
    const csrfToken = '@GetAntiXsrfRequestToken()';
</script>

<script src="~/js/Order/Order.js"></script>