@model IEnumerable<TagViewModel>
@using AnimeStockWebProject.Infrastructure.Data.Models

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions
{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<link rel="stylesheet" href="~/css/Admin/BookTag/CreateTagStyles.css" asp-append-version="true" />

<div class="container">
    <h1 class="title">Manage Tags</h1>
    <div class="row">
        @foreach (var tag in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="tag">
                    <h3 class="tag-name">@tag.Name</h3>
                    <div class="tag-actions">
                        <a href="@Url.Action("Edit", "BookTag", new { area = "Admin", id = tag.Id})" class="btn-edit">Edit</a>
                        @if (!tag.IsDeleted)
                        {
                            <button type="submit" class="btn-delete" onclick="deleteTag(@tag.Id, event)">Delete</button>
                        }
                        else
                        {
                            <button type="submit" class="btn-recover" onclick="recoverTag(@tag.Id, event)">Recover</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    const csrfToken = '@GetAntiXsrfRequestToken()';
</script>

<script src="~/js/Admin/Tags/Tag.js"></script>

<script src="~/js/Modal.js"></script>
