@model IEnumerable<BookViewModel>

<link rel="stylesheet" href="~/css/Reset.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/BookStyles/AllBooks.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/BookStyles/Responsive/AllBooksResponsive.css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


@foreach (BookViewModel book in Model)
{
    <div class="book-card">
        <div class="cover-img">
            <a asp-area="" asp-controller="Book" asp-action="Info" asp-route-id="@book.Id">
                <img src="@book.PicturePath" />
            </a>
        </div>

        <div class="book-card-content">
            <h1 class="book-title">
                <a asp-area="" asp-controller="Book" asp-action="Info" asp-route-id="@book.Id">
                    @book.Title
                </a>
            </h1>
            <p class="book-author">Author: @book.Author</p>
            <p class="book-illustrator">Artist: @book.Illustrator</p>
            <p class="book-description">@book.Description</p>
            <ul class="more-details">
                <li class ="book-price">@book.Price$</li>
                <li class ="book-type">
                    <a onclick="selectBookType('@book.BookType')">
                        @book.BookType
                    </a>
                </li>
                <li class="book-print-type">
                    <a onclick="selectPrintType('@book.PrintType')">
                        @book.PrintType
                    </a>
                </li>
                <li class="book-ReleaseDate">@book.ReleaseDate.Date.ToString("MMMM dd, yyyy")</li>
            </ul>
            
            @if (User.Identity.IsAuthenticated)
            {
                <input type="hidden" value="@book.Id" />
                @if (book.IsFavorite)
                {
                    <button class="favorite-container">Unfavorite</button>
                }
                else
                {
                    <button class="favorite-container">Favorite</button>
                }
            }
        </div>
    </div>
}