@model IEnumerable<BookNameViewModel>

@foreach (BookNameViewModel book in Model)
{
    <div class="recomended-book-card">
        <div class="cover-img-container">
            <a asp-area="" asp-controller="Book" asp-action="info" asp-route-id="@book.Id"> <img src="@book.BookImg" /></a>
        </div>

        <div class="card-content">
            <a asp-area="" asp-controller="Book" asp-action="info" asp-route-id="@book.Id">@book.Title</a>
            <p class="recomended-book-price">@book.Price$</p>
        </div>
    </div>
}