 @model IEnumerable<UserOrderViewModel>

<link rel="stylesheet" href="~/AnimeStockWebProject.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Reset.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/User/UserOrdersStyles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/User/Responsive/UserOrdersResponsive.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/footerStyles.css" asp-append-version="true" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<table class="orders-container">
    <thead class="table-titles">
        <tr>
            <th class="table-img"></th>
            <th class="order-title">Purchase</th>
            <th class="date">Expected Date</th>
            <th class="status">Status</th>
            <th class="price">Price</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var order in Model)
        {
            <tr class="order">
                <td class="img-container table-img">
                    <img src="@order.Picture" />
                </td>
                <td class="order-title"><a asp-area="" asp-controller="Order" asp-action="OrderInfo" asp-route-id="@order.Id">@order.Title</a></td>
                <td class="date">@order.OrderDate.Value.Date.ToString("MMMM dd, yyyy")</td>
                <td class="status">@order.Status</td>
                <td class="price">@order.Price$</td>
            </tr>
        }
    </tbody>
    
</table>