 @model IEnumerable<UserOrderViewModel>

<link rel="stylesheet" href="~/AnimeStockWebProject.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Reset.css" asp-append-version="true" />
<script src="~/lib/pdfjs-4.0.379-dist/build/pdf.mjs"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="orders-container">
    @foreach (var order in Model)
    {
        <div class="order">
            <div class="img-container"> 
                <img src="@order.Picture"/>
            </div>
            <p>@order.Title</p>
            <p>@order.OrderDate.Value.Date.ToString("MMMM dd, yyyy")</p>
            <p>@order.Price</p>
            <p>@order.Status</p>
            <p>@order.UserQuantity</p>
        </div>
    }
</div>